$cor-principal: #1aa1d7;
$cor-secondaria: #25B3AB;
$cor-clara: #e7e7e7;
$cor-media: #e2e1e1;
$cor-escura: #414141;

$bp-large: 68.75em;    // 1100px
$bp-medium: 59.38em;   // 950px
$bp-small: 53.12em;     // 850px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;    
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 40%;    
  }
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  color: $cor-escura;
  background-color: $cor-principal;
  animation: muda-cor-fundo 25s infinite alternate;
}

h1, 
h2, 
h3 {
  font-weight: 300;
}

::selection {
  background-color: $cor-principal;
  color: $cor-clara;
}

.inner-shadow {  
  color: $cor-clara;
  background-color: $cor-principal;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.35) inset; 
  animation: muda-cor-fundo 25s infinite alternate;
}

svg {
  fill: $cor-principal;
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
  animation: muda-cor-svg 25s infinite alternate;  
}

@keyframes muda-cor-fundo {
  0% {
    background-color: $cor-principal;
  }
  100% {
    background-color: $cor-secondaria;
  }
}

@keyframes muda-cor-svg {
  0% {
    fill: $cor-principal;
  }
  100% {
    fill: $cor-secondaria;
  }
}

@keyframes muda-cor-texto {
  0% {
    color: $cor-principal;
  }
  100% {
    color: $cor-secondaria;
  }
}

@keyframes muda-cor-borda {
  0% {
    border-color: $cor-principal;
  }
  100% {
    border-color: $cor-secondaria;
  }
}