.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $cor-clara;
  box-shadow: 5px 7px 11.18px 1.82px rgba(0, 0, 0, 0.35); 
}

header {
  display: flex;
  align-items: center;
  padding: 3rem 4rem;
  background-color: $cor-media;

  h1 {
    margin-left: 10rem;
    font-size: 3.6rem;
  }

}

main {
  padding: 3rem;
  text-align: center;


  h2.inner-shadow {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    font-size: 4rem;
  }  
}

.title {
  margin: 4rem 0;
  font-size: 4.6rem;
  font-weight: 500;
  text-decoration: underline;
}